.container {
    width: 100vw;
    padding: 0 180px;
    z-index: 20;
    translate: 0 0;
    font-family: "Nunito Sans", sans-serif;
    color: #fff;
    border-bottom: 1px solid #ffffff77;
}

.detailsSection {
    width: 100%;
    /* z-index: 90; */
    margin-bottom: 25px;
}

.heading {
    padding-top: 77px;
    font-size: 56px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -0.56px;
    text-align: left;
}

.para {
    width: 500px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28.25px;
    text-align: start;
    letter-spacing: 0.125px;
}

.btnSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: end; */
}

.btnContain {
    display: flex;
    margin-top: 37px;
}

.getStartBtn {
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 14px 25px;
    margin-right: 18px;
    transition: 0.2s linear;
}

.getStartBtn:hover {
    translate: 0 -3px;
}


.npxBtn {
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    color: white;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 14px 25px;
    transition: 0.2s linear;
    margin-right: 36px;
}

.npxBtn:hover {
    translate: 0 -3px;
}

.copyBtn {
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
    translate: 0 2.5px;
}

.installSection {
    color: #fff;
    font-weight: 400;
    margin-top: 7px;
    margin-right: 36px;
}

.installNum {
    font-size: 16px;
    opacity: 0.85;
}

.installPerMonth {
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
    transition: 0.2s linear;
}

.installPerMonth:hover {
    opacity: 1;
    cursor: pointer;
}

.versionSection {
    display: flex;
    align-items: end;
    margin-right: 5px;
    position: relative;
}

.versionName {
    color: #fff;
    opacity: 0.7;
    font-size: 14px;
    margin-right: 12px;
}

.versionNum {
    font-size: 50px;
    font-weight: 700;
    translate: 0 13px;
}

.firstStar,
.secondStar,
.thirdStar,
.fourthStar {
    color: #fff;
    position: absolute;
}

.firstStar {
    font-size: 14px;
    top: 30px;
    left: 20px;
    opacity: 0;
    animation-name: iconRotate;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.secondStar {
    font-size: 8px;
    top: 20px;
    left: 40px;
    opacity: 0;
    animation-name: iconRotate;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.thirdStar {
    font-size: 14px;
    top: 10px;
    left: 90px;
    opacity: 0;
    animation-name: iconRotate;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.fourthStar {
    font-size: 8px;
    top: 70px;
    left: 120px;
    opacity: 0;
    animation-name: iconRotate;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes iconRotate {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
    }
}

.animationContainer {
    width: 100%;
    height: 830px;
    position: relative;
    overflow: hidden;
}

.storybookFrame {
    width: 100%;
    height: 100%;
}

.sideBar {
    position: absolute;
    background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-no-selection.svg');
    background-repeat: no-repeat;
    background-size: 227px 718px;
    top: 70px;
    left: 0;
    width: 227px;
    height: 718px;
    z-index: 10;
}

.sideBarAnimatioon {
    animation-name: sideBarAnimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.timeFrameControl {
    position: absolute;
    background-image: url('/src/assests/Img/Home/Animations/time-frame-controls.svg');
    background-repeat: no-repeat;
    background-size: 1080px 718px;
    bottom: 42px;
    /* left: -30px; */
    z-index: 13;
    width: 1080px;
    height: 718px;
}

.timeFrameControlAnimation {
    animation-name: timeFrameControlAnimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.timeFrame {
    position: absolute;
    background-image: url('/src/assests/Img/Home/Animations/time-frame-no-selection.svg');
    background-repeat: no-repeat;
    background-size: 450px 350px;
    top: 120px;
    left: 430px;
    z-index: 13;
    width: 1080px;
    height: 718px;
}

.timeFrameAnimation {
    animation-name: timeFrameAnimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.cursor {
    position: absolute;
    bottom: -60px;
    right: 450px;
    width: 70px;
    height: 70px;
    background-image: url('/src/assests/Img/Home/Animations/pointer.svg');
    background-repeat: no-repeat;
    background-size: 70px 70px;
    z-index: 13;
}

.cursorAnimation {
    animation-name: cursorAnimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes timeFrameControlAnimation {
    0% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-controls.svg');
    }

    90% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-controls.svg');
    }

    92% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-controls.svg');
    }

    94% {
        background-image: url('');
    }

    98% {
        background-image: url('');
    }

    99% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-controls.svg');
    }

    100% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-controls.svg');
    }
}

@keyframes sideBarAnimation {
    0% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-no-selection.svg');
    }

    6% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-no-selection.svg');
    }

    9% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-no-selection.svg');
    }

    12% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-last-hour.svg');
    }

    18% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-last-hour.svg');
    }

    22% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-last-hour.svg');
    }

    24% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-all-day.svg');
    }

    84% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-all-day.svg');
    }

    92% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-all-day.svg');
    }

    94% {
        background-image: url('/src//assests/Img/Home/Animations/sidebar-tf-overview.svg');
    }

    98% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-overview.svg');
    }

    99% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-no-selection.svg');
    }

    100% {
        background-image: url('/src/assests/Img/Home/Animations/sidebar-tf-no-selection.svg');
    }
}

@keyframes timeFrameAnimation {
    0% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-no-selection.svg');
        background-size: 450px 350px;
        top: 120px;
        left: 430px;
    }

    9% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-no-selection.svg');
    }

    12% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-last-hour.svg');
    }

    22% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-last-hour.svg');
    }

    24% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-all-day.svg');
    }

    84% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-all-day.svg');
    }

    92% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-all-day.svg');
        background-size: 450px 350px;
        top: 120px;
        left: 430px;
    }

    94% {
        background-image: url('/src//assests/Img/Home/Animations/time-frame-overview.svg');
        background-size: 853px 718px;
        top: 70px;
        left: 227px;
    }

    98% {
        background-image: url('/src//assests/Img/Home/Animations/time-frame-overview.svg');
        background-size: 853px 718px;
        top: 70px;
        left: 227px;
    }

    99% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-no-selection.svg');
        background-size: 450px 350px;
        top: 120px;
        left: 430px;
    }

    100% {
        background-image: url('/src/assests/Img/Home/Animations/time-frame-no-selection.svg');
        background-size: 450px 350px;
        top: 120px;
        left: 430px;
    }
}

@keyframes cursorAnimation {
    0% {
        bottom: -60px;
        right: 450px;
    }

    6% {
        bottom: 270px;
        right: 850px;
        transform: scale(1);
    }

    9% {
        transform: scale(0.85);
        bottom: 270px;
        right: 850px;
    }

    12% {
        transform: scale(1);
        bottom: 270px;
        right: 860px;
    }

    15% {
        transform: scale(1);
        bottom: 270px;
        right: 860px;
    }

    18% {
        bottom: 250px;
        right: 850px;
        transform: scale(1);
    }

    21% {
        transform: scale(0.85);
    }

    24% {
        transform: scale(1);
    }

    27% {
        bottom: 250px;
        right: 850px;
    }

    36% {
        right: 100px;
        bottom: 115px;
        transform: scale(1);
    }

    38% {
        transform: scale(0.85);
    }

    41% {
        transform: scale(0.85);
    }

    44% {
        transform: scale(1);
    }

    48% {
        transform: scale(1);
        right: 100px;
        bottom: 115px;
    }

    54% {
        right: 100px;
        bottom: 65px;
        transform: scale(1);
    }

    57% {
        transform: scale(0.85);
    }

    60% {
        transform: scale(1);
        right: 100px;
        bottom: 65px;
    }

    84% {
        right: 100px;
        bottom: 65px;
    }

    90% {
        bottom: 315px;
        right: 850px;
        transform: scale(1);
    }

    92% {
        transform: scale(0.85);
    }

    94% {
        transform: scale(1);
        bottom: 315px;
        right: 850px;
    }

    97% {
        bottom: 295px;
        right: 850px;
        transform: scale(1);
    }

    98.5% {
        transform: scale(0.85);
    }

    99.25% {
        transform: scale(1);
        bottom: 295px;
        right: 850px;
    }

    100% {
        bottom: -60px;
        right: 450px;
    }
}

.logoContainer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vscodeLogo {
    width: 42px;
    height: 42px;
    opacity: 0.8;
}

.githubLogo {
    width: 81px;
    height: 23px;
    opacity: 0.8;
}

.euLogoo {
    width: 53px;
    height: 34px;
    opacity: 0.8;
}

.airbusLogo {
    width: 77px;
    height: 24px;
    opacity: 0.8;
}

.mozillaLogo {
    width: 80px;
    height: 23px;
    opacity: 0.8;
}

.mondayLogo {
    width: 101px;
    height: 18px;
    opacity: 0.8;
}

.bbcLogo {
    width: 83px;
    height: 22px;
    opacity: 0.8;
}